Ext_Dev_UI_v0.json
[{"id":"6848c0e5.49fed8","type":"ui_dropdown","z":"e0839e73.afb7e","name":"","label":"","place":"Protocol","group":"f06bf2f3.ec5c18","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":120,"y":180,"wires":[["ee9b86fa.f5122"]]},{"id":"83aa5753.6081c","type":"inject","z":"e0839e73.afb7e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":116.17855834960938,"y":276.97618103027344,"wires":[["aada5a13.2a14b8"]]},{"id":"aada5a13.2a14b8","type":"function","z":"e0839e73.afb7e","name":"","func":"//needs to be taken from REST API of EVRYTHNG\n\n//how to enable it dynamically?\nmsg.options=[ \"HTTP GET\", \"AMQP\", \"MQTT\" ];\nmsg.payload={};\n\nreturn msg;","outputs":1,"noerr":0,"x":131.642822265625,"y":234.5476837158203,"wires":[["6848c0e5.49fed8"]]},{"id":"ee9b86fa.f5122","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"protocol\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":115,"y":126.3809814453125,"wires":[[]]},{"id":"da26a774.54281","type":"ui_text_input","z":"e0839e73.afb7e","name":"","label":"Endpoint","group":"f06bf2f3.ec5c18","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":350.35711669921875,"y":176.6666717529297,"wires":[["76b8421a.0f7304"]]},{"id":"76b8421a.0f7304","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"endpoint\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":489.75,"y":174.8333282470703,"wires":[[]]},{"id":"cfef3517.900418","type":"debug","z":"e0839e73.afb7e","name":"","active":true,"console":"false","complete":"true","x":461.7142333984375,"y":625.9284820556641,"wires":[]},{"id":"66ff0549.d1ba7c","type":"ui_button","z":"e0839e73.afb7e","name":"Submit","group":"64bf2f8.7dc46d","order":1,"width":0,"height":0,"passthru":false,"label":"Submit Triple","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":495.39288330078125,"y":390.7262725830078,"wires":[["ec706b45.45d72"]]},{"id":"ec706b45.45d72","type":"function","z":"e0839e73.afb7e","name":"add to triple","func":"if (flow.get(\"hasTimestamp\")&&flow.get(\"hasLocation\")){\n\nmsg.payload=flow.get(\"eventConditionName\")+\" rdf:subclassOf \"+\"eventCondition\";\nnode.send(msg);\n\nmsg.payload=flow.get(\"eventConditionName\")+\" isOfType \"+flow.get(\"EventType\");\nnode.send(msg);\n\nmsg.payload=flow.get(\"eventConditionName\")+\" publishedAt \"+flow.get(\"endpoint\");\nnode.send(msg);\n\nmsg.payload=flow.get(\"eventConditionName\")+\" hasExternalInputs \"+flow.get(\"externalinput\");\nnode.send(msg);\n\nmsg.payload=flow.get(\"eventConditionName\")+\" isAscending \"+flow.get(\"isAscending\");\nnode.send(msg);\n\n}else{\n    msg.payload=\"Events with no timestamp or location can not be correlated and thus are of no interest\";\n    node.send(msg);\n}\n\n\n//return msg;","outputs":1,"noerr":0,"x":660.0237426757812,"y":382.05955505371094,"wires":[["71df22ee.002f3c"]]},{"id":"a8c69acf.3ae038","type":"debug","z":"e0839e73.afb7e","name":"","active":true,"console":"false","complete":"true","x":898.7738037109375,"y":226.5595245361328,"wires":[]},{"id":"66486981.9d8188","type":"ui_dropdown","z":"e0839e73.afb7e","name":"EventSemantics","label":"Select Event Type","place":"Select Event Type","group":"8e155376.60a2a","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Humidity","value":"Humidity","type":"str"},{"label":"Temperature","value":"Temperature","type":"str"},{"label":"Social Networks","value":"Social Networks","type":"str"},{"label":"Luminocity","value":"Luminocity","type":"str"},{"label":"Precipitation","value":"Precipitation","type":"str"}],"payload":"","topic":"","x":369.53570556640625,"y":95.02375793457031,"wires":[["5ee3ad54.4dfa9c"]]},{"id":"27f27def.69d4fa","type":"ui_text_input","z":"e0839e73.afb7e","name":"","label":"Define EventCondition name","group":"8e155376.60a2a","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":410.392822265625,"y":135.5833282470703,"wires":[["816a4ba8.c9b8e"]]},{"id":"816a4ba8.c9b8e","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"eventConditionName\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":607.392822265625,"y":136.5833282470703,"wires":[[]]},{"id":"5ee3ad54.4dfa9c","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"EventType\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":564.392822265625,"y":81.58332824707031,"wires":[["8c3b53a7.d9e4f"]]},{"id":"8c3b53a7.d9e4f","type":"debug","z":"e0839e73.afb7e","name":"","active":true,"console":"false","complete":"true","x":715.392822265625,"y":76.58332824707031,"wires":[]},{"id":"e5473011.a0fd2","type":"comment","z":"e0839e73.afb7e","name":"SUBMIT ONCE in the end (but separate messages) --FIX link to SPARQL","info":"","x":916.642822265625,"y":312.7333221435547,"wires":[]},{"id":"2afe2fe1.61f27","type":"ui_dropdown","z":"e0839e73.afb7e","name":"Externalsources","label":"External Source Used","place":"External Source Used","group":"8e155376.60a2a","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"Twitter","type":"str"},{"label":"","value":"Facebook","type":"str"},{"label":"","value":"Youtube","type":"str"},{"label":"","value":"Openweather","type":"str"},{"label":"","value":"Wunderground","type":"str"},{"label":"","value":"Darksky","type":"str"}],"payload":"","topic":"","x":364.392822265625,"y":220.8332977294922,"wires":[["4444edd0.052df4"]]},{"id":"5e5a801c.70ec4","type":"comment","z":"e0839e73.afb7e","name":"CHECK--FIX dynamic external data","info":"Should we have external sources, \nevent categories etc. as a list\nin the KB and retrieve it?Functionality\nwould be similar to the dropdown population\nof the protocol node (but with the relevant\nquery performed during startup in order to\npopulate the list)","x":196.892822265625,"y":46.23329162597656,"wires":[]},{"id":"4444edd0.052df4","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"externalinput\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520.892822265625,"y":217.5833282470703,"wires":[[]]},{"id":"575d1071.a41de","type":"ui_switch","z":"e0839e73.afb7e","name":"","label":"isAscending","group":"8e155376.60a2a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":354.1427917480469,"y":263.4167022705078,"wires":[["be2f48b.291b538"]]},{"id":"be2f48b.291b538","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"isAscending\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500.3927917480469,"y":263.8333282470703,"wires":[[]]},{"id":"6ea6ea12.f9a5cc","type":"ui_text","z":"e0839e73.afb7e","group":"edd4bee3.f723c","order":2,"width":"8","height":"3","name":"","label":"Triples for submission","format":"{{msg.payload}}","layout":"row-center","x":744.392822265625,"y":488.4166717529297,"wires":[]},{"id":"26dae391.68dc64","type":"ui_button","z":"e0839e73.afb7e","name":"Check submission","group":"edd4bee3.f723c","order":1,"width":0,"height":0,"passthru":false,"label":"Check submission","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":411.392822265625,"y":467.08335876464844,"wires":[["c2d8d484.440298","7fccfbd7.1075a4","88345487.594e88","64a70a08.ad7f44"]]},{"id":"c2d8d484.440298","type":"function","z":"e0839e73.afb7e","name":"add to triple","func":"msg.payload=\"start\";\nvar triples=new Array();\ntriples.push(flow.get(\"eventConditionName\")+\" rdf:subclassOf \"+\"eventCondition\");\n//node.send(msg);\n\n\n\ntriples.push(flow.get(\"eventConditionName\")+\" isOfType \"+flow.get(\"EventType\"));\n//node.send(msg);\n\ntriples.push(flow.get(\"eventConditionName\")+\" publishedAt \"+flow.get(\"endpoint\"));\n//node.send(msg);\n\ntriples.push(flow.get(\"eventConditionName\")+\" hasExternalInputs \"+flow.get(\"externalinput\"));\n//node.send(msg);\n\ntriples.push(flow.get(\"eventConditionName\")+\" isAscending \"+flow.get(\"isAscending\"));\n//node.send(msg);\n\nmsg.payload=triples;\nreturn msg;","outputs":1,"noerr":0,"x":520.1427612304688,"y":524.3333282470703,"wires":[["6ea6ea12.f9a5cc","cfef3517.900418"]]},{"id":"55c900c9.d0dc2","type":"comment","z":"e0839e73.afb7e","name":"INLCUDE REPLY FROM SUBMISSION AND STATUS?","info":"","x":805.392822265625,"y":452.8333282470703,"wires":[]},{"id":"d1732c1e.55319","type":"ui_switch","z":"e0839e73.afb7e","name":"","label":"hasLocation","group":"8e155376.60a2a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":349.392822265625,"y":308.5833282470703,"wires":[["79cb7668.836a8"]]},{"id":"3a40338c.30af9c","type":"ui_switch","z":"e0839e73.afb7e","name":"","label":"hasTimestamp","group":"8e155376.60a2a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":346.892822265625,"y":349.8333282470703,"wires":[["fc6f8e51.ba7c08"]]},{"id":"79cb7668.836a8","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"hasLocation\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":511.892822265625,"y":304.8333282470703,"wires":[[]]},{"id":"fc6f8e51.ba7c08","type":"function","z":"e0839e73.afb7e","name":"set","func":"flow.set(\"hasTimestamp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":511.892822265625,"y":343.5833282470703,"wires":[[]]},{"id":"592be164.0d212","type":"ui_text","z":"e0839e73.afb7e","group":"edd4bee3.f723c","order":2,"width":"8","height":"3","name":"","label":"Generic Check State","format":"{{msg.payload}}","layout":"row-center","x":735.642822265625,"y":544.8333282470703,"wires":[]},{"id":"7fccfbd7.1075a4","type":"function","z":"e0839e73.afb7e","name":"set","func":"if (flow.get(\"hasTimestamp\")&&flow.get(\"hasLocation\")){\n\n    msg.payload=\"All seems to be in order\";\n}else {\n    msg.payload=\"Events with no timestamp or location can not be correlated and thus are of no interest\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":630.642822265625,"y":601.0833282470703,"wires":[["592be164.0d212"]]},{"id":"71df22ee.002f3c","type":"switch","z":"e0839e73.afb7e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Events with no timestamp or location can not be correlated and thus are of no interest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":851.267822265625,"y":371.0833282470703,"wires":[["6ea6ea12.f9a5cc"],["1db27820.d14d2"]]},{"id":"1db27820.d14d2","type":"debug","z":"e0839e73.afb7e","name":"","active":true,"console":"false","complete":"true","x":1071.892822265625,"y":413.5833282470703,"wires":[]},{"id":"3227eb50.cbd68c","type":"ui_text_input","z":"e0839e73.afb7e","name":"","label":"Declare States Schema (Insert JSON description)","group":"f06bf2f3.ec5c18","order":0,"width":"6","height":"6","passthru":true,"mode":"text","delay":300,"topic":"","x":215.642822265625,"y":676.0833282470703,"wires":[["ac3baaea.477ff"]]},{"id":"228aa874.79c97","type":"function","z":"e0839e73.afb7e","name":"FIX- extract triples from schema----set schema variable","func":"flow.set(\"stateSchema\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":807.392822265625,"y":726.3333282470703,"wires":[[]]},{"id":"87ef4bcc.673138","type":"http in","z":"e0839e73.afb7e","name":"UPDATE STATE SCHEMA","url":"","method":"get","upload":false,"swaggerDoc":"","x":256.267822265625,"y":799.8333282470703,"wires":[["228aa874.79c97"]]},{"id":"a79d2aa8.9f0478","type":"function","z":"e0839e73.afb7e","name":"process schema and UPDATE KB","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1134.392822265625,"y":382.3333282470703,"wires":[[]]},{"id":"5882444.db00cbc","type":"comment","z":"e0839e73.afb7e","name":"INSERT MAX MIN VALUES OF D1.1 SEMANTICS TABLE","info":"","x":773.767822265625,"y":788.5833282470703,"wires":[]},{"id":"ac3baaea.477ff","type":"json","z":"e0839e73.afb7e","name":"","x":313.767822265625,"y":724.8333282470703,"wires":[["228aa874.79c97"]]},{"id":"6050f20.2b1ec9","type":"comment","z":"e0839e73.afb7e","name":"OR INCLUDE IN A FOR LOOP IN ADD TO TRIPLE OF SUBMIT","info":"","x":1250.017822265625,"y":428.5833282470703,"wires":[]},{"id":"cc35d366.a0c13","type":"sparql","z":"e0839e73.afb7e","name":"SPARQL","prefix":"http://dbpedia.org/sparql","func":"PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?label\nWHERE { <http://dbpedia.org/resource/Asturias> rdfs:label ?label }","outputs":1,"x":757.142822265625,"y":237.8333282470703,"wires":[["a8c69acf.3ae038"]]},{"id":"16644c9b.ed241b","type":"inject","z":"e0839e73.afb7e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":660.142822265625,"y":198.8333282470703,"wires":[["cc35d366.a0c13"]]},{"id":"17b4075c.ad58a9","type":"comment","z":"e0839e73.afb7e","name":"SPARQL INSTALLATION","info":"download zip sparql from:\nhttps://github.com/prokolyvakis/node-red-contrib-sparql\n\ncopy in .node-red/node_modules and unzip\n\ninstall python-sparqlwrapper\nsudo apt-get install python-sparqlwrapper\n\nstart nodered","x":863.142822265625,"y":189.8333282470703,"wires":[]},{"id":"64a70a08.ad7f44","type":"function","z":"e0839e73.afb7e","name":"success final screen","func":"msg.payload=0;\n//msg.payload={tab:\"Tab4\"};\nreturn msg;","outputs":1,"noerr":0,"x":1344.642822265625,"y":473.8333282470703,"wires":[[]]},{"id":"7729b9e2.c0bb7","type":"ui_ui_control","z":"e0839e73.afb7e","name":"","x":1340.142822265625,"y":518.8333282470703,"wires":[[]]},{"id":"ed87921.db2547","type":"ui_text","z":"e0839e73.afb7e","group":"86216c71.ff342","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1305.642822265625,"y":583.8333282470703,"wires":[]},{"id":"88345487.594e88","type":"function","z":"e0839e73.afb7e","name":"success final screen","func":"\nmsg.payload=\"Your choices have been submitted\";\nreturn msg;","outputs":1,"noerr":0,"x":1125.642822265625,"y":553.8333282470703,"wires":[["ed87921.db2547"]]},{"id":"e8697dc5.020018","type":"inject","z":"e0839e73.afb7e","name":"REPLACE WITH RESPONSE FROM KB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1473.142822265625,"y":382.8333282470703,"wires":[["64a70a08.ad7f44","88345487.594e88"]]},{"id":"1bd3eea1.e0f929","type":"comment","z":"e0839e73.afb7e","name":"SUBMISSION OF A NEW INSTANCE","info":"https://stackoverflow.com/questions/31240529/what-is-the-recommended-way-for-adding-individuals-with-sparql-update\n\nINSERT DATA {\n  indv:individual_name rdf:type ont:SomeClassName, owl:NamedIndividual\n}","x":1017.392822265625,"y":109.73332214355469,"wires":[]},{"id":"f06bf2f3.ec5c18","type":"ui_group","z":"","name":"Declare Endpoint","tab":"6d27f73.c52e708","order":3,"disp":true,"width":"6"},{"id":"64bf2f8.7dc46d","type":"ui_group","z":"","name":"Submit","tab":"6d27f73.c52e708","order":5,"disp":true,"width":"6"},{"id":"8e155376.60a2a","type":"ui_group","z":"","name":"Declare Event type","tab":"6d27f73.c52e708","order":1,"disp":true,"width":"6"},{"id":"edd4bee3.f723c","type":"ui_group","z":"","name":"Check Triples","tab":"6d27f73.c52e708","order":4,"disp":true,"width":"8"},{"id":"86216c71.ff342","type":"ui_group","z":"","name":"finalTab","tab":"b705d79c.484e38","disp":true,"width":"6"},{"id":"6d27f73.c52e708","type":"ui_tab","z":"","name":"AffectUsExternalDev","icon":"dashboard","order":6},{"id":"b705d79c.484e38","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":7}]
