fuseki-sparql-test
[{"id":"ebef196f.feabb8","type":"function","z":"200e5c78.01da64","name":"SPARQL_HTTP_Request","func":"//Setup\nvar fetch = context.global.fetch;\nvar SparqlHttp = context.global.sparqlhttp;\nSparqlHttp.fetch = fetch;\n \n//Which endpoint to query, is in msg.endpoint\nvar endpoint = new SparqlHttp({endpointUrl: msg.endpoint});\n\nvar result = null;\n//The SPARQL query itself is in msg.query\n//Run query with promises\nendpoint.selectQuery(msg.query).then(function (res) {\n    return res.text();\n    //Result body of the query\n}).then(function (body) {\n    // parse the body\n    result = JSON.parse(body);\n    msg.payload = result;\n    node.send(msg);\n//Necessary to catch the error...\n}).catch(function (err) {\n  console.error(err);\n});\n\n\n\n\n","outputs":1,"noerr":0,"x":638,"y":183,"wires":[["6c9f1855.8d17d8"]]},{"id":"1dd89a7d.e38246","type":"function","z":"200e5c78.01da64","name":"SPARQL_Prepare-Select","func":"//SPARQL ENDPOINT\nmsg.endpoint = \"http://localhost:3030/affectus/sparql\";\n\nmsg.query = //SPARQL QUERY\n`prefix owl: <http://www.w3.org/2002/07/owl#>\nprefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nprefix : <http://www.hua.gr/affectus#> \n\nSELECT DISTINCT ?thing\nWHERE {\n  ?thing a :Time.\n}`;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":182,"wires":[["ebef196f.feabb8"]]},{"id":"d78b000d.f21","type":"function","z":"200e5c78.01da64","name":"SPARQL_Prepare-Insert","func":"//SPARQL ENDPOINT\nmsg.endpoint = \"http://localhost:3030/affectus/update\";\n\nmsg.query = //SPARQL QUERY\n`PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX : <http://www.hua.gr/affectus#> \nPREFIX owl: <http://www.w3.org/2002/07/owl#>\nINSERT DATA {\n  :a`+ msg.payload +` rdf:type :Time\n}`;\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":270,"wires":[["3f352b8b.a9ca64"]]},{"id":"3f352b8b.a9ca64","type":"function","z":"200e5c78.01da64","name":"SPARQL_HTTP_Update","func":"//Setup\nvar fetch = context.global.fetch;\nvar SparqlHttp = context.global.sparqlhttp;\nSparqlHttp.fetch = fetch;\n \n//Which endpoint to query, is in msg.endpoint\nvar endpoint = new SparqlHttp({updateUrl: msg.endpoint});\n\nvar result = null;\n//The SPARQL query itself is in msg.query\n//Run query with promises\nendpoint.updateQuery(msg.query).then(function (res) {\n    return res.text();\n    //Result body of the query\n}).then(function (body) {\n    msg.payload = body;\n    node.send(msg);\n//Necessary to catch the error...\n}).catch(function (err) {\n  console.error(err);\n});\n","outputs":1,"noerr":0,"x":636,"y":271,"wires":[["6c9f1855.8d17d8"]]},{"id":"6c9f1855.8d17d8","type":"debug","z":"200e5c78.01da64","name":"","active":true,"console":"false","complete":"false","x":1050,"y":280,"wires":[]},{"id":"5bda9dd9.db2604","type":"function","z":"200e5c78.01da64","name":"SPARQL_Prepare-Delete","func":"//SPARQL ENDPOINT\nmsg.endpoint = \"http://localhost:3030/affectus/update\";\n\nmsg.query = //SPARQL QUERY\n`PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX : <http://www.hua.gr/affectus#>\nDELETE {\n\t?time a :Time\n}\nWHERE {\n    ?time a :Time\n}`;\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":365,"wires":[["3f352b8b.a9ca64"]]},{"id":"59ec3a59.a3ebc4","type":"inject","z":"200e5c78.01da64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":364,"wires":[["5bda9dd9.db2604"]]},{"id":"5b34e31a.c9ebfc","type":"inject","z":"200e5c78.01da64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":272,"wires":[["d78b000d.f21"]]},{"id":"648ce79c.1fbcc8","type":"inject","z":"200e5c78.01da64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":182,"wires":[["1dd89a7d.e38246"]]}]
